body {
    background: url("../../Images/indexBackground.jpg") no-repeat center fixed;
    background-size: 100% 100%;
}
h1{
    text-align: center;
}

#presentation{
    text-align: center;
    font-size: 24px;
}

.button{
    width: 160px;
    height: 40px
}
input{
    background-color: transparent;
    border: none;
    text-align: center;
}


img{
    opacity: 80%;
    width : 400px;
    margin-bottom:-5px;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
    transition: opacity 1.5s;
}
img:hover{ opacity: 100% }

table,td{
    border: 4px solid black;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}


div#bottomLayer{
    border: 3px solid grey;
    font: small-caps bold 24px/1 sans-serif;
    height: 70px;
    background-color:rgb(240, 248, 255);
    display: flex;
    justify-content: space-between;
    
}

#a,#b,#c{padding: 20px}
