body {
    background: url("../../Images/indexBackground.jpg") no-repeat center fixed;
    background-size: 100% 100%;
}
table,td,th {
    border: 3px solid rgb(0, 0, 0);
    border-collapse: collapse
}

img{
    width: 200px;
}
a{
    font: small-caps bold 24px/1 sans-serif;
}
td {
    text-align: center;
}

.button{
    width: 160px;
    height: 40px
}

